[Unit]
Description=Transcode TV streams using ffmpeg
After=network.target mumudvb

[Service]
EnvironmentFile=/etc/default/ffmpegtranscode.conf
# The dummy program will exit
Type=oneshot
ExecStartPre=/bin/sh -c "${TC} qdisc add dev ${IF} root handle 1:0 htb default 30"
# Execute a dummy program
ExecStart=/bin/true
# This service shall be considered active after start
ExecStop=/bin/sh -c "${IPTABLES} -t  mangle -F"
ExecStop=/bin/sh -c "${TC} qdisc del dev ${IF} root"
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target


